<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <title>Counselor Home - Envision Overseas
  </title>
  <meta http-equiv="x-ua-compatible" content="ie=edge" />

  <meta http-equiv="pragma" content="no-cache" />
  <meta http-equiv="expires" content="-1" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&family=Raleway&display=swap"
    rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/css/bootstrap.css" />
  <link rel="stylesheet" href="/css/index-styles.css" />
  <link rel="stylesheet" href="/css/pages-general.css" />
  <link rel="stylesheet" href="/css/counselor-in.css" />
  <%- include('./partials/browser-icons'); -%>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="../src/js/data.js"></script>
</head>

<body>
  <div class="flex-contain">

    <%- include('./partials/nav'); -%>

    <div class="container-fluid">
      <h1>Data Operations</h1>
      <div class="col ten">
        <button onclick="getAll();" id="getAll" class="btn btn-dark">Get All</button>
        <button id="getOne" class="btn btn-dark">Get One</button>
        <button id="updateOne" class="btn btn-dark">Update One</button>
        <button id="deleteOne" class="btn btn-dark">Delete One</button>
        <input type="text" name="objectID" placeholder="Object ID" />
      </div>
    </div>

    <div class="container-fluid">
      <h2><% %></h2> // put header in the JS space
      <table>
        <tr>
          <th>Object ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Mobile</th>
          <th>Nearest Office</th>
          <th>Destination</th>
          <th>Intake</th>
          <th>Date Added</th>
          <th>Date Updated</th>
        </tr>
        // <% for (var i = 0; i < total; i++) { %>
        <tr>
          <td id="id<% %>"></td>
        <td id="name<% %>"></td>
          <td id="email<% %>"></td>
        <td id="phone<% %>"></td>
          <td id="nearest_office<%- -%>"></td>
          <td id="destination<% %>"></td>
        <td id="intake<% %>"></td>
          <td id="date_added<% %>"></td>
        <td id="date_updated<% %>"></td>
        </tr>
        // <% } %>
        </table>


    </div>

    < <%- include('./partials/footer'); -%> </div> <%- include('./partials/bootstrap-js'); -%> </body> </html>